@import "tailwindcss";

@theme {
  --color-dark-pink: #450920;
  --color-tertiary-pink : #A53860;
  --color-secondary-pink: #da627d;
  --color-primary-pink: #ffa5ab;
  --color-creame: #f9dbbd;
  --color-secondary-black: #121212;

  --font-tektur: "Tektur", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
